# Introduction To Probability
## Challenge 1

A and B are events of a probability space with $(\omega, \sigma, P)$ such that $P(A) = 0.3$, $P(B) = 0.6$ and $P(A \cap B) = 0.1$

Which of the following statements are false?
* $P(A \cup B) = 0.6$
* $P(A \cap B^{C}) = 0.2$
* $P(A \cap (B \cup B^{C})) = 0.4$
* $P(A^{C} \cap B^{C}) = 0.3$
* $P((A \cap B)^{C}) = 0.9$

In [ ]:
"""
your solution here

False Statements 

ð‘ƒ(ð´âˆªðµ)=0.6 -> 0.3 + 0.6 - 0.1 = 0.8
ð‘ƒ(ð´âˆ©ðµð¶)=0.2 -> 0.3 * 0,4 = 0.12
ð‘ƒ(ð´âˆ©(ðµâˆªðµð¶))=0.4 -> 0.3 * (0.6 + 0.4 - 0,6 * 0,4) = 0.22
ð‘ƒ(ð´ð¶âˆ©ðµð¶)=0.3 -> 0.7 * 0.4 = 0.28

True

ð‘ƒ((ð´âˆ©ðµ)ð¶)=0.9 -> 0.8 + 0.1 = 0.9
 
"""

## Challenge 2
There is a box with 10 white balls, 12 red balls and 8 black balls. Calculate the probability of:
* Taking a white ball out.
* Taking a white ball out after taking a black ball out.
* Taking a red ball out after taking a black and a red ball out.
* Taking a red ball out after taking a black and a red ball out with reposition.

**Hint**: Reposition means putting back the ball into the box after taking it out.

In [1]:
"""
your solution here
"""
total_balls = 10 + 12 + 8

In [2]:
white = 10/total_balls
white

0.3333333333333333

In [10]:
black = 8/total_balls
white_2 = 10/(total_balls-1)

black * white_2

0.09195402298850575

In [17]:
black_2 = 8/total_balls
red = 12/(total_balls-1)
red_2 = 11/(total_balls-2)

black_2 * red * red_2

0.04334975369458128

In [18]:
black_out = 8/total_balls
red_out = 12/total_balls
red_out2 = 12/total_balls

black_out * red_out * red_out2

0.04266666666666667

## Challenge 3

You are planning to go on a picnic today but the morning is cloudy. You hate rain so you don't know whether to go out or stay home! To help you make a decision, you gather the following data about rainy days:

* 50% of all rainy days start off cloudy!
* Cloudy mornings are common. About 40% of days start cloudy. 
* This month is usually dry so only 3 of 30 days (10%) tend to be rainy. 

What is the chance of rain during the day?

In [19]:
"""
your solution here

P(A|B) = P(B|A)P(A) / P(B)

rainy_days = P(B|A) = 0.5

month_rain = P(A) = 0.1

cloudy_mornings = P(B) = 0.4

"""

rainy_days = 0.5
month_rain = 0.1
cloudy_mornings = 0.4


rain = (rainy_days * month_rain) / cloudy_mornings

rain

0.125

## Challenge 4

One thousand people were asked through a telephone survey whether they thought more street lighting is needed at night or not.

Out of the 480 men that answered the survey, 324 said yes and 156 said no. On the other hand, out of the 520 women that answered, 351 said yes and 169 said no. 

We wonder if men and women have a different opinions about the street lighting matter. Is gender relevant or irrelevant to the question?

Consider the following events:
- The answer is yes, so the person that answered thinks that more street lighting is needed.
- The person who answered is a man.

We want to know if these events are independent, that is, if the fact of wanting more light depends on whether one is male or female. Are these events independent or not?

**Hint**: To clearly compare the answers by gender, it is best to place the data in a table.

In [20]:
# your code here
import pandas as pd

In [29]:
men_yes = 324
men_no = 156
women_yes = 351
women_no = 169

In [24]:
table = pd.DataFrame({"men_yes": men_yes,
                     "men_no":men_no,
                     "women_yes":women_yes,
                     "women_no":women_no})

In [25]:
table

   men_yes  men_no  women_yes  women_no
0      324     156        351       169

In [26]:
total_man = 324 + 156

In [27]:
total_woman = 351 + 169

In [30]:
m_yes = men_yes / total_man
m_yes

0.675

In [31]:
w_yes = women_yes / total_woman
w_yes

0.675

In [ ]:
"""
your solution here

Is independent to the gender
"""