# Introduction To Probability
## Challenge 1

A and B are events of a probability space with $(\omega, \sigma, P)$ such that $P(A) = 0.3$, $P(B) = 0.6$ and $P(A \cap B) = 0.1$

Which of the following statements are false?
* $P(A \cup B) = 0.6$
* $P(A \cap B^{C}) = 0.2$
* $P(A \cap (B \cup B^{C})) = 0.4$
* $P(A^{C} \cap B^{C}) = 0.3$
* $P((A \cap B)^{C}) = 0.9$

In [87]:
"""
your solution here
"""
a = 0.3
b = 0.6
ab = 0.1
x1 = a + b - (a * b)
print(x1)
x2 = a * 0.4
print(x2)
z = (b + (1-b) - (b * (1-b)))
x3 = a * z 
print(x3)
x4 = 0.7 + 0.4 - (0.7*0.4)
print(x4)
x5 = 1 - 0.1
print(x5)

0.72
0.12
0.22799999999999998
0.8200000000000001
0.9

In [88]:
#1. False
#2. False
#3. False
#4. False
#5. True

## Challenge 2
There is a box with 10 white balls, 12 red balls and 8 black balls. Calculate the probability of:
* Taking a white ball out.
* Taking a white ball out after taking a black ball out.
* Taking a red ball out after taking a black and a red ball out.
* Taking a red ball out after taking a black and a red ball out with reposition.

**Hint**: Reposition means putting back the ball into the box after taking it out.

In [34]:
"""
your solution here
"""
a = 10/30
b = 12/30
c = 8/30

y1 = a
print(y1)
y2 = c * 10/29
print(y2)
y3 = (8/30 * 12/29) * 11/28
print(y3)
y4 = y3 = (8/30 * 12/30) * 12/30
print(y4)

0.3333333333333333
0.09195402298850575
0.043349753694581286
0.042666666666666665

## Challenge 3

You are planning to go on a picnic today but the morning is cloudy. You hate rain so you don't know whether to go out or stay home! To help you make a decision, you gather the following data about rainy days:

* 50% of all rainy days start off cloudy!
* Cloudy mornings are common. About 40% of days start cloudy. 
* This month is usually dry so only 3 of 30 days (10%) tend to be rainy. 

What is the chance of rain during the day?

In [45]:
"""
your solution here
"""
c = 0.4
r = 0.1
cr = 0.5

p = ((r * cr)/c) * 100
print(p,"%")

12.5 %

## Challenge 4

One thousand people were asked through a telephone survey whether they thought more street lighting is needed at night or not.

Out of the 480 men that answered the survey, 324 said yes and 156 said no. On the other hand, out of the 520 women that answered, 351 said yes and 169 said no. 

We wonder if men and women have a different opinions about the street lighting matter. Is gender relevant or irrelevant to the question?

Consider the following events:
- The answer is yes, so the person that answered thinks that more street lighting is needed.
- The person who answered is a man.

We want to know if these events are independent, that is, if the fact of wanting more light depends on whether one is male or female. Are these events independent or not?

**Hint**: To clearly compare the answers by gender, it is best to place the data in a table.

In [51]:
# your code here
import numpy as np
import pandas as pd

In [73]:
"""
your solution here
"""
ym = 324/480
nm = 156/480
yw = 351/520
nw = 169/520

lights = np.array([[ym,yw],[nm,nw]],dtype=object)
lights_df = pd.DataFrame(lights)

In [74]:
yw

0.675

In [75]:
lights_df

       0      1
0  0.675  0.675
1  0.325  0.325

In [80]:
lights_df.columns = ['Man', 'Woman']

In [81]:
lights_df

     Man  Woman
0  0.675  0.675
1  0.325  0.325