# Introduction To Probability
## Challenge 1

A and B are events of a probability space with $(\omega, \sigma, P)$ such that $P(A) = 0.3$, $P(B) = 0.6$ and $P(A \cap B) = 0.1$

Which of the following statements are false?
* $P(A \cup B) = 0.6$
* $P(A \cap B^{C}) = 0.2$
* $P(A \cap (B \cup B^{C})) = 0.4$
* $P(A^{C} \cap B^{C}) = 0.3$
* $P((A \cap B)^{C}) = 0.9$

"""
1. ğ‘ƒ(ğ´âˆªğµ)= 0.6 - FALSE

Real solution. 

ğ‘ƒ(ğ´âˆªğµ) = ğ‘ƒ(ğ´) + ğ‘ƒ(B) - ğ‘ƒ(ğ´âˆ©ğµ) = 0.3 + 0.6 - 0.1 = 0.8

2. ğ‘ƒ(ğ´âˆ©ğµğ¶)=0.2 ???

Real solution.

ğ‘ƒ(ğ´âˆ©ğµğ¶) = ğ‘ƒ(ğ´)- ğ‘ƒ(ğ´âˆ©ğµ)

3. ğ‘ƒ(ğ´âˆ©(ğµâˆªğµğ¶))=0.4 ???


4.ğ‘ƒ(ğ´ğ¶âˆ©ğµğ¶)=0.3 - FALSE

ğ‘ƒ(ğ´ğ¶) + ğ‘ƒ(Bğ¶) = (1-0.3) + (1-0.6) = 0.7 + 0.4 = 1.1
 
5. ğ‘ƒ((ğ´âˆ©ğµ)ğ¶)=0.9 - TRUE

ğ‘ƒ((ğ´âˆ©ğµ)ğ¶)= ğ‘ƒ((0.1)ğ¶) = 1-0.1 = 0.9
"""

## Challenge 2
There is a box with 10 white balls, 12 red balls and 8 black balls. Calculate the probability of:
* Taking a white ball out.
* Taking a white ball out after taking a black ball out.
* Taking a red ball out after taking a black and a red ball out.
* Taking a red ball out after taking a black and a red ball out with reposition.

**Hint**: Reposition means putting back the ball into the box after taking it out.

Balls per colour 

W = 10

R = 12

B = 8

Total = 30

#### Taking a white ball out.

P(1W) = 10/30 = 1/3

#### Taking a white ball out after taking a black ball out.

P(1B1W) = (8/30)*(10/29) = 8/87

#### Taking a red ball out after taking a black and a red ball out

P(1B1R1R) = SUM[BRR][RBR] = (8/30 * 12/29 * 11/28) + (12/30 * 8/29 * 11/28)= (1056/24360)+(1056/24360)=2112/24360


#### Taking a red ball out after taking a black and a red ball out with reposition.

P(1B1R1R) WITH REPOSITION = SUM[BRR][RBR] = (8/30 * 12/30 * 12/30) = 768/27000

## Challenge 3

You are planning to go on a picnic today but the morning is cloudy. You hate rain so you don't know whether to go out or stay home! To help you make a decision, you gather the following data about rainy days:

* 50% of all rainy days start off cloudy!
* Cloudy mornings are common. About 40% of days start cloudy. 
* This month is usually dry so only 3 of 30 days (10%) tend to be rainy. 

What is the chance of rain during the day?

"""
Binomial Distribution.

This has ceeb considered as a Binomial distribution give the fact that the header of the excercise mentions that the day is already cloudy.

P = 50%
Q = 1 - 50% = 50%
n = 30
x = 3

P(X) = (n!/(n-X)!X!) * (p**x q **(n-x))

P(X) = (30!/(30-3)!3!) * ((0.5 ** 3)(0.5 ** 27))


"""

""" After discussing with colleagues, I have become aware that right way to solve this problem is taking into considetation the additional metric of 40% of days start cloudy. Below the approach to solve this"""

"""
P(Rain|Cloudy)=(P(Cloudy|Rain)P(Rain))/P(Cloudy)
P(Rain|Cloudy)=(0,5*0,1)/0,4
P(Rain|Cloudy)=0,125
"""

## Challenge 4

One thousand people were asked through a telephone survey whether they thought more street lighting is needed at night or not.

Out of the 480 men that answered the survey, 324 said yes and 156 said no. On the other hand, out of the 520 women that answered, 351 said yes and 169 said no. 

We wonder if men and women have a different opinions about the street lighting matter. Is gender relevant or irrelevant to the question?

Consider the following events:
- The answer is yes, so the person that answered thinks that more street lighting is needed.
- The person who answered is a man.

We want to know if these events are independent, that is, if the fact of wanting more light depends on whether one is male or female. Are these events independent or not?

**Hint**: To clearly compare the answers by gender, it is best to place the data in a table.

In [5]:
# your code here
import pandas as pd

In [22]:
survey_responses = [ ['Man', 324, 156] ,
             ['Woman', 351, 169] ]

In [23]:
df_survey = pd.DataFrame(survey_responses) 

df_survey

       0    1    2
0    Man  324  156
1  Woman  351  169

In [24]:
# LetÂ´s rename the columns to relevant yes/no values

df_survey.columns = ['Gender', 'Yes', 'No']

df_survey

  Gender  Yes   No
0    Man  324  156
1  Woman  351  169

In [25]:
df_survey['% of Yes'] = df_survey['Yes']/(df_survey['Yes'] + df_survey['No'])

df_survey

  Gender  Yes   No  % of Yes
0    Man  324  156     0.675
1  Woman  351  169     0.675

In [27]:
""" We can see that the % of Yes for both genders is the same. Having said this we can see that Gender is indepent to the predisposition to want more lights in the street."""

' We can see that the % of Yes for both genders is the same. Having said this we can see that Gender is indepent to the predisposition to want more lights in the street.'